@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Share Tech Mono', monospace;
  background-color: black;
  text-align: center;
  color: #00ff00;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.container {
  position: relative;
  z-index: 2;
}

/* Glitch title styling */
.ghost-title {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: white;
    font-style: italic;
    position: absolute;
    /* Animate over 8 seconds and repeat infinitely */
    animation: appearDisappearMove 10s infinite;
  }
  
  /* Keyframes to simulate random movement with appearance/disappearance */
  @keyframes appearDisappearMove {
    0% {
      opacity: 0;
      left: 10%;
      top: 10%;
    }
    15% {
      opacity: 1;
      left: 10%;
      top: 10%;
    }
    25% {
      opacity: 0;
      left: 10%;
      top: 10%;
    }
    30% {
      opacity: 0;
      left: 50%;
      top: 20%;
    }
    35% {
      opacity: 1;
      left: 50%;
      top: 20%;
    }
    45% {
      opacity: 0;
      left: 50%;
      top: 20%;
    }
    50% {
      opacity: 0;
      left: 70%;
      top: 70%;
    }
    55% {
      opacity: 1;
      left: 70%;
      top: 70%;
    }
    65% {
      opacity: 0;
      left: 70%;
      top: 70%;
    }
    70% {
      opacity: 0;
      left: 20%;
      top: 80%;
    }
    75% {
      opacity: 1;
      left: 20%;
      top: 80%;
    }
    85% {
      opacity: 0;
      left: 20%;
      top: 80%;
    }
    100% {
      opacity: 0;
      left: 10%;
      top: 10%;
    }
  }

/* Center image styling */
.center-image {
  display: block;
  margin: 150px auto;
  width: 350px; /* Adjust size as needed */
  filter: drop-shadow(5px 5px 10px rgba(255, 0, 0, 0.8));
}
